.user-count-top-item{
  background-color: #fff;
  border-radius: 5px;
  padding: 0 15px;
  height: 150px;
}
.account-title{
  height: 55px;
  line-height: 55px;
  border-bottom:3px solid #e6e6e6;
  text-align:left;
}
.account-title i{
  margin-right: 15px;
}
.account-bottom .amount{
  margin: 15px 0;
}
.account-bottom .charge{
  font-size: 14px;
  color:#B7B7B7;
  padding:5px 15px;
  border:1px solid #B7B7B7;
  border-radius: 5px;
  text-align: center;
}
.last-month-charge,.days-left{
  font-size: 12px;
  color: #C5C5C5;
}
.out-amount{
  margin:10px 0px;
  padding-bottom:5px;
  
  position: relative;
}
.out-amount .line{
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 0;
  width:50%;
  background-color: #07D5B9;
}