<div class="width33 textc user-count-top-item">
  <p class="account-title">
    <i class="iconfont">&#xe658;</i>
    <span>您的账户</span>
  </p>
  <div class="account-bottom">
    <div class="width50 fl testl">
      <p class="fs20 amount">￥153.28</p>
      <p class="charge-box">
        <span class="charge">充值</span></p>
    </div>
    <div class="width50 fl testl">
      <p class="last-month-charge">上个月支出</p>
      <p class="fs20 out-amount">￥153.28
        <span class="line"></span>
      </p>
      <p class="days-left">剩余16天</p>
    </div>
  </div>
</div>