.login-box{
  height: 100%;
  width: 100%;
  background: url('http://qy.9gms.net/Areas/Pages/Contents/images/bg.png') center bottom no-repeat fixed rgb(53, 33, 59);
}
.login-form{
  position: absolute;
  width: 600px;
  height: 440px;
  left:50%;
  top: 50%;
  margin-left: -300px;
  margin-top: -220px;
  background-color: #fff;
}
.login-item{
  width:360px;
  margin:0 auto;
  border:3px solid #b6b6b6;
  margin-bottom: 15px;
  border-radius: 4px;
}
.login-item i{
  display: inline-block;
  width: 60px;
  text-align: center;
}
.login-item input{
  padding: 15px 0;
  -webkit-appearance:none;
  width: 294px;
  outline: none;
  border:none;
}
.login-item:last-child{
  border:none;
}
.login-item .login-btn{
  background: linear-gradient(to right, #02D6B8, #129EE7);
  color: #fff;
  font-size: 16px;
  width: 360px;
  border-radius: 4px;
  cursor: pointer;
}
.login-title{
  width:100%;
  height: 100px;
  line-height: 100px;
  color:#03D5B9;
  font-size: 18px;
  text-shadow: 0 0 5px #00a2ff,-0 -0 5px #00a2ff;
  text-align: center;
  background-color: #222;
  margin-bottom: 30px;
}