<div class="login-box"> 
  <div class="login-form">
    <form>
        <h2 class="text-center txt-c-p">欢迎来到ng-admin中心</h2>
      <div class="login-item">
        <label for="">用户名：</label>
        <input type="text" name="username" placeholder="请输入用户名">
      </div>
      <div class="login-item">
        <label for="">密码</label>
        <input type="password" name="password" placeholder="请输入密码">
      </div>
      <div class="login-item">
          <input type="button" value="登录">
        </div>
    </form>
  </div>
</div> 