<div class="login-box"> 
  <div class="login-form">
    <form>
      <div class="login-title">
        Terrence-Ng-Admin
      </div>
      <div class="login-item">
        <i class="iconfont">&#xe659;</i>
        <input type="text" name="username" placeholder="请输入用户名">
      </div>
      <div class="login-item">
        <i class="iconfont">&#xe652;</i>
        <input type="password" name="password" placeholder="请输入密码">
      </div>
      <div class="login-item">
          <input type="button" value="登录" class="login-btn">
        </div>
    </form>
  </div>
</div> 